<div class="container">
    <div class="row mt-4">
        <div class="col-10">
            <h2>
                Lista de cuenta de hijos
            </h2>
        </div>
        <div class="col-2">
            <button mat-raised-button color="accent" class="w-100 text-white">Añadir <mat-icon>add</mat-icon></button>
        </div>
    </div>
    <mat-divider class="mt-3"></mat-divider>
    <!-- <div class="row w-100 my-3">
    </div> -->
    <div class="row mt-4">
        <mat-card class="card-kid w-100">
            <div class="row">
                <div class="col-2 text-center">
                    <img ngxGravatar size="80" src="../../../../assets/icon/kid.png" />
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-12">ESTUDIANTE</div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-12 name-student">Juan Rojas Quispe</div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 text-center">
                            <mat-chip-list aria-label="Fish selection">
                                <mat-chip color="primary" selected>Curso 1</mat-chip>
                                <mat-chip color="primary" selected>Curso 2</mat-chip>
                                <mat-chip color="primary" selected>Curso 3</mat-chip>
                                <mat-chip color="primary" selected>Curso 4</mat-chip>
                            </mat-chip-list>
                        </div>
                    </div>
                </div>
                <div class="col-2 my-auto">
                    <div class="row m-0">
                        <button mat-raised-button color="accent" class="w-100 text-white">Suspender</button>
                    </div>
                    <div class="row mt-1 m-0">
                        <button mat-raised-button color="warn" class="w-100 text-white">Eliminar</button>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
    <div class="row mt-4">
        <mat-card class="card-kid w-100">
            <div class="row">
                <div class="col-2 text-center">
                    <img ngxGravatar size="80" src="../../../../assets/icon/girl.png" />
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-12">ESTUDIANTE</div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-12 name-student">María Rojas Quispe</div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 text-center">
                            <mat-chip-list aria-label="Fish selection">
                                <mat-chip color="primary" selected>Curso 1</mat-chip>
                                <mat-chip color="primary" selected>Curso 2</mat-chip>
                                <mat-chip color="primary" selected>Curso 3</mat-chip>
                                <mat-chip color="primary" selected>Curso 4</mat-chip>
                            </mat-chip-list>
                        </div>
                    </div>
                </div>
                <div class="col-2 my-auto">
                    <div class="row m-0">
                        <button mat-raised-button color="accent" class="w-100 text-white">Suspender</button>
                    </div>
                    <div class="row mt-1 m-0">
                        <button mat-raised-button color="warn" class="w-100 text-white">Eliminar</button>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
    <div class="row mt-4">
        <mat-card class="card-kid w-100">
            <div class="row">
                <div class="col-2 text-center">
                    <img ngxGravatar size="80" src="../../../../assets/icon/girl.png" />
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-12">ESTUDIANTE</div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-12 name-student">Belén Rojas Quispe</div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 text-center">
                            <mat-chip-list aria-label="Fish selection">
                                <mat-chip color="primary" selected>Curso 1</mat-chip>
                                <mat-chip color="primary" selected>Curso 2</mat-chip>
                                <mat-chip color="primary" selected>Curso 3</mat-chip>
                                <mat-chip color="primary" selected>Curso 4</mat-chip>
                            </mat-chip-list>
                        </div>
                    </div>
                </div>
                <div class="col-2 my-auto">
                    <div class="row m-0">
                        <button mat-raised-button color="accent" class="w-100 text-white">Suspender</button>
                    </div>
                    <div class="row mt-1 m-0">
                        <button mat-raised-button color="warn" class="w-100 text-white">Eliminar</button>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>