.example-spacer {
    flex: 1 1 auto;
}

.logo {
    height: 50px;
}

.list-horizontal .mat-list-item{
    color: #fff;
    display: inline-block !important;
    height: auto !important;
    width: auto !important;
}

.toolbar{
    position:sticky !important
}