<div class="container">
    <div class="row mt-5">
        <mat-card class="w-100 card-detail">
            <div class="row m-0">
                <div class="col-12">
                    <h1>
                        ¿Cuáles son las causas de la Guerra del Pacífico?
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                    <div class="row m-0">
                        <div class="col-1 text-center">
                            <img ngxGravatar size="60" src="../../../../assets/icon/kid.png" />
                        </div>
                        <div class="col-9 my-auto">
                            Nombre del alumno
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <!-- <star-rating-comp [starType]="'icon'"></star-rating-comp> -->
                </div>
            </div>
            <div class="row m-0 mt-3">
                <p class="m-0">
                    Las principales causas que condujeron a la guerra del Pacífico fueron las siguientes:
                </p>
                <mat-list role="list" class="list-question">
                    <mat-list-item class="list-item" role="listitem">
                        - La delimitación fronteriza entre Bolivia y Chile.
                    </mat-list-item>
                    <mat-list-item class="list-item" role="listitem">
                        - La explotación de las riquezas por parte de capitales chilenos.
                    </mat-list-item>
                    <mat-list-item class="list-item" role="listitem">
                        - El pacto de alianza entre Bolivia y Perú de 1873.
                    </mat-list-item>
                    <mat-list-item class="list-item" role="listitem">
                        - En febrero de 1878 Bolivia había establecido impuestos a empresas chilenas, los cuales según
                        Chile violaban el tratado de límites de 1874.
                    </mat-list-item>
                </mat-list>
            </div>
        </mat-card>
    </div>
    <div class="row mt-2 mb-2">
        <mat-card class="w-100">
            <div class="row mt-1">
                <div class="col-1 text-center">
                    <img ngxGravatar size="50" src="../../../../assets/icon/kid.png" />
                </div>
                <div class="col-11 my-auto">
                    <div class="row m-0">
                        ¿En el Perú que presidente gobernaba cuando inició la guerra?
                    </div>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-1 text-center">
                    <img ngxGravatar size="50" src="../../../../assets/icon/girl.png" />
                </div>
                <div class="col-11 my-auto">
                    <div class="row m-0">
                        ¿En el Perú que presidente gobernaba cuando inició la guerra?
                        <br>
                        - Mariano Ignacio Prado Ochoa:(1876-1879) fue un militar y político peruano, que llegó a ser
                        Presidente de la República en dos ocasiones
                    </div>
                </div>
            </div>
            <div class="row m-0 mt-3">
                <mat-form-field appearance="outline" class="col-10 offset-1" color="accent">
                    <mat-label>Escriba la pregunta</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>
                <div class="col-1 p-0">
                    <button mat-mini-fab color="accent" class="text-white mt-4" aria-label="Example icon button with a filter list icon">
                        <mat-icon>send</mat-icon>
                    </button>
                </div>
            </div>
        </mat-card>
    </div>
</div>