<div class="container h-100">
    <div class="row h-100 background">
        <div class="col-12 my-auto">
            <div class="row justify-content-center">
                <div class="col-4">
                    <mat-card class="card-style">
                        <img mat-card-image class="img-logo" src="../../../../assets/icon/face-24px 1.png" alt="Photo of a Shiba Inu">
                        <h2>Registrar hijos</h2>
                        <p>
                            Realiza el registro de los estudiantes del cual será apoderado.
                        </p>
                    </mat-card>
                </div>
                <div class="col-4">
                    <mat-card class="card-style">
                        <img mat-card-image class="img-logo" src="../../../../assets/icon/swap_calls.png" alt="Photo of a Shiba Inu">
                        <h2>Monitoreo</h2>
                        <p>
                            Se visualiza las actividades del alumno
                        </p>
                    </mat-card>
                </div>
            </div>
            <div class="row justify-content-center mt-2">
                <div class="col-4">
                    <mat-card class="card-style" matRipple>
                        <img mat-card-image class="ml-1 img-logo" src="../../../../assets/icon/card.png" alt="Photo of a Shiba Inu">
                        <h2>Registrar preguntas</h2>
                        <p>
                            Registro de preguntas en el foro.
                        </p>
                    </mat-card>
                </div>
                <div class="col-4">
                    <mat-card class="card-style">
                        <img mat-card-image class="img-logo" src="../../../../assets/icon/search.png" alt="Photo of a Shiba Inu">
                        <h2>Buscar</h2>
                        <p>
                            Realiza las busquedas por cursos y temas.
                        </p>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>
